In [1]:
%load_ext autoreload
%autoreload 2

In [1]:
import sys
import os
import pandas as pd
import logging
from tqdm import tqdm
import matplotlib.pyplot as plt
import json

# Add the project root to the system path using the current working directory
project_root = os.path.abspath(os.path.join(os.getcwd(), '../..'))
if project_root not in sys.path:
    sys.path.append(project_root)

# Import using absolute path from project root
from src.instances.chain_instance import ARBITRUM_DTO, OPTIMISM_DTO, ETHEREUM_DTO, BASE_DTO
from src.instances.curve_mint_market_instance import market_objects_dict
from src.models.token import TokenDTO

In [2]:
market = market_objects_dict['sfrxETH']

In [3]:
df = market.get_user_position_data()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   health            10 non-null     float64
 1   health_full       10 non-null     float64
 2   n1                10 non-null     int64
 3   n2                10 non-null     int64
 4   n                 10 non-null     int64
 5   debt              10 non-null     float64
 6   collateral        10 non-null     float64
 7   stablecoin        10 non-null     float64
 8   soft_liquidation  10 non-null     bool
 9   total_deposited   10 non-null     float64
 10  loss              10 non-null     float64
 11  loss_pct          10 non-null     float64
 12  collateral_up     10 non-null     float64
 13  oracle_price      10 non-null     float64
 14  block_number      10 non-null     int64
 15  timestamp         10 non-null     object
dtypes: bool(1), float64(10), int64(4), object(1)
memory usage: 1.3+ KB

In [6]:
output_liq_df = market.compute_price_for_max_hard_liq(df, 0.95)

In [7]:
output_liq_df

     max_price  max_collateral_value      debt
0  2467.318856              0.000118  0.962654

In [5]:
output_liq_df

     max_price  max_collateral_value          debt
0   451.412068             26.703226  18112.864736
1   940.164740             17.151219  24139.901153
2  1137.981657             11.390755  19274.089539
3  1463.037294             19.738406  39803.759558
4  1684.079823              0.470501   1193.464813
5  1735.629762              8.361573  21861.249335
6  2299.702408             12.164874  37067.877295
7  2370.096649              0.000011      0.040350
8  2594.473893              0.000315      0.962654